.container {
	margin: 0 auto;
	width: 85%;
	max-width: 960px;
}

body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color: #DFE3F1;
	color: #444444;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

h1, h2 {
	color: #846A6A;
}

.figcontainer {
	width: 50%;
	height: auto;
}

.figcontainer img {
	width: 90%;
	height: auto;
}

.headerbox {
	display: flex;
	align-items: center;
}

.factbox {
	display: flex;
	align-items: top;
	margin: 5px;
}

figure {
	float: left;
	margin: 0.5em;
	padding: 0.5em;
}

figcaption {
	font-size: small;
}

.menu {
	margin: 0 .5em;
	vertical-align: bottom;
	height: 8vh;
}

.menu ul {
	margin: 0 auto;
	display: table;
	padding-left: 0;
	list-style-type: none;
	border-collapse: collapse;
	/*position: absolute;
	bottom: 0;*/
	/*display: flex;*/
}

.menu li {
	/*border: 3px solid #95AFBA;*/
	display: table-cell;
	vertical-align: middle;
}

.menu a {
	text-decoration: none;
	font-weight: bold;
	font-size: large;
	color: #C6C7C4;
	/*display: inline-block;*/
	display: block;
	padding: .5em .5em;

	margin-bottom: .5em
}

.menu a:hover {
	color: #C6C7C4;
}

.menu li:hover {
	background-color: #846A6A;
}

article {
	border: 3px solid #95AFBA;
	padding: 0px 20px 20px 20px;
	float: left;
	width: 60%;
}

.citations a {
	color: #444444;
}

.menu .current a {
	color: #C6C7C4;
}

.current {
	background-color: #846A6A;
}

header {
	width: 100%;
	margin: 0 auto;
	background-image: url("../images/water.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}

header h1 {
	text-align: center;
	padding: 1em 1em;
	margin: 0;
	color: #44495E;
}

.content {
	display: table-cell;
}

.safety img {
	width: 90%;
	height: auto;
}

.safety {
	float: right;
	width: 27%;
	margin: 0 1em 0 0;
	font-size: smaller;
	text-align: center;
}

.top-margin {
	margin-top: 2em;
}

#accordion {
	padding: 0px 20px 20px 20px;
	float: left;
	width: 60%;
}

@media (max-width: 1000px) {
	.menu {
		margin-left: .5em;
	}
	/*.menu a {
		font-size: smaller;
	}*/
}

/*@media (max-width: 960px) {
	.headerbox {
		display: block;
	
	header {
		display: block;
		border: none;
	}
	.menu ul {
		border: 3px solid #95AFBA;
		border-width: 0 0 3px 3px;
	}
	.menu li {
		display: block;
		border: 3px solid #95AFBA;
		border-width: 3px 3px 0 0;
	}

}*/

@media (max-width: 865px) {
	.menu ul {
		display: block;
		margin: 0 auto;
		width: 100%;
		height: auto;
		position: static;
	}
	.menu li {
		display: block;
		text-align: center;
	}
	.menu a {
		font-size: larger;
		color: #846A6A;
		margin: 0 auto;
	}
	.menu {
		margin: 0 auto;
		vertical-align: bottom;
		height: auto;
	}
	header {
		background-image: none;
	}
	header h1 {
		background-image: url("../images/water.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		vertical-align: top;
		color: #C6C7C4;
	}
	.content {
		display: block;
	}
	article {
		border: 3px solid #95AFBA;
		padding: 0px 20px 20px 20px;
		float: none;
		width: 92.6%;
		margin: 0 auto;
	}
	.safety {
		float: none;
		width: 90%;
		margin: 0 auto;
		font-size: smaller;
		text-align: center;
	}
	.safety img {
		width: 55%;
		height: auto;
	}
	#accordion {
		padding: 0px 20px 20px 20px;
		float: none;
		width: 90%;
		margin: 0 auto;
	}
}

@media (max-width: 660px) {
	figure {
		float: none;
		display: block;
	}
	.figcontainer {
		margin: 0 auto;
		width: 80%;
		max-width: 300px;
	}
}








